.header{
 height: 40px;
 background-color: rgb(138, 154, 91);   
 flex-wrap: wrap;
 display:block;
 
}

.fa-brands{
display: inline-block;
margin-top: -15px;
margin-left: 10px;
color: white;
}

.flex-end{
 color: white;
 display: inline-block;
}

.icons{
display:flex;
justify-content: flex-end;
vertical-align: top;
margin-top: -30px;
margin-left: 35px;
padding-right: 20px;
}
.jungle-image{
 background-image:url(../images/al.webp);
 background-size: cover; 
height: 650px;
background-repeat: no-repeat;
background-color: #cccccc;
}
.jungle-text{
color: white;
font-size: 70px;
font-family:cursive;
position: absolute;
margin-top: 70px;
margin-left: 20px;

}
 
.navigation{
color: black;
display: flex;
justify-content:space-evenly;
align-content: flex-start;

}
.btn { 
color:black;
padding:  30px;
cursor: pointer;
 }
.button:hover{
 background-color: rgb(138, 154, 91) ;
}
.button{
font-size: 16px;
font-family:cursive;
}
.country{
display: flex;
justify-content: space-around;
justify-content: flex-end;
padding: 20px;
}
.btn{
border-radius: 8px;
font-size: 25px;
text-align: center;
margin: 4px 15px;
width: 180px;
height: 200px;
padding: 20px
}
.australia{
background-image:url(../images/sydney-new-south-wales-australia-600nw-2490788099.webp) ;
background-repeat: no-repeat; 
background-size:auto;
}

.china{
 background-image:url(../images/china.webp) ;
 background-size: auto;
background-repeat: no-repeat;
}

.egypt{
background-image:url(../images/400.webp);
background-size: cover;
background-repeat: no-repeat;
}  
.spain{
background-image:url(../images/HandLuggageOnly-9-4.jpg);
background-size:cover;
background-repeat:repeat-x;
}

.Seetheworld{
font-size: 28px;
color: #4B5320;
}
.mapaustralia{
    width: 100px;
}
.georgia{
display: flex;
justify-content: space-around;
justify-content: flex-end;
 padding: 20px;
}
.Seethegeorgia{
font-size: 28px;
color: #4B5320;
} 
.guria{
 background-image:url(../images/6630e38768a57ab78025f607e420f3f7.jpg) ;
 background-repeat: no-repeat; 
 background-size:cover;
vertical-align: text-bottom;

    }
    
    .imereti{
     background-image:url(../images/imereti-bagratis-tadzari-1.jpg);
     background-size: cover;
    background-repeat: no-repeat;
    }
    
    .samegrelo{
    background-image:url(../images/IMG_5197.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    }  
    .kakheti{
    background-image:url(../images/cf227c61bccc5df6417baa44a04b55fa.jpg);
    background-size:cover;
    background-repeat:repeat-x;
    }
.sectionbackground{
background-image:url(../images/12345678.jpg);
background-size: cover;
height: 450px;
background-repeat: no-repeat;
margin: 8px 18px;
}
.container{
background-color: #4B5320;
height: 200px;
 width: 200px;
font-style: italic;
font-size: 18px;
text-align: center;

}
.container1{
display: flex;
justify-content: space-around;
flex-direction: row;
}
.qeti{
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: flex-end;
}